@using u19078308HW05.Models
@model List<u19078308HW05.Models.Books>
@{
    ViewBag.Title = "Books";
}

<h2>Books</h2>
<hr />

<div>

    @using (Html.BeginForm("Books", "Home", FormMethod.Post, new { style = "width:100%" }))
    {
        <input type="text" style="width:50%;max-width:none; display:inline" name="searchBook" class="form-control" placeholder="Search Book Name" />
        @*@Html.DropDownList("Select Type", new SelectList(listItems, "Value", "Text"), new { @class = "form-control" });
        @Html.DropDownList("Select Author", new SelectList(listItems, "Value", "Text"), new { @class = "form-control" });*@
        <button type="submit" class="btn btn-success"><span aria-hidden="true">Search</span></button>
        <button type="reset" class="btn btn-danger"><span aria-hidden="true">Clear</span></button>

    }
</div>
    <br />
<div>
    <table class="table table-hover">
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Author</th>
            <th>Type</th>
            <th>Page Count</th>
            <th>Points</th>
            <th>Status</th>
            <th> </th>
        </tr>
        @foreach (Books book in Model)
        {
            <tr>
                <td>@book.bookId</td>
                <td>@book.name</td>
                <td>@book.Author.surname</td>
                <td>@book.Type.name</td>
                <td>@book.pagecount</td>
                <td>@book.point</td>
                <td>borrowed</td>
                <td><button type="button" class="btn btn-info">View</button></td>
            </tr>
        }
        
    </table>
</div>

