@using u19078308HW05.Models
@model List<u19078308HW05.Models.Students>
@{
    ViewBag.Title = "Student";
}

<h2>Students</h2>
<hr />
<div>
    @using (Html.BeginForm("Student", "Home", FormMethod.Post, new { style = "width:100%" }))
    {
        <input type="text" style="width:50%;max-width:none; display:inline" name="searchStudent" class="form-control" placeholder="Search Student Name" />
        @*@Html.DropDownList("Select class", new SelectList(listItems, "Value", "Text"), new { @class = "form-control" });*@
        <button type="submit" class="btn btn-success"><span aria-hidden="true">Search</span></button>
        <button type="reset" class="btn btn-danger"><span aria-hidden="true">Clear</span></button>

    }
</div>
<div>
    <table class="table table-hover">
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Surname</th>
            <th>Class</th>
            <th>Points</th>
            <th>Borrow Book</th>
        </tr>

        @foreach (Students student in Model)
        {
            <tr>
                <td>@student.studentId</td>
                <td>@student.name</td>
                <td>@student.surname</td>
               @* <td>@student.class</td>*@
                <td>@student.point</td>
                <td>borrowed</td>
                <td><button type="button" class="btn btn-info">View</button></td>
            </tr>
        }

    </table>

</div>

